* {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif JP";
}

.container {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.title {
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.title h1 {
  color: lightgrey;
  font-size: 40px;
  margin: 5px 50px;
}

.selector {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
}

.color {
  height: 10px;
  width: 100px;
  margin: 0px 11px;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}

#purple {
  background-color: purple;
}

#orange {
  background-color: orange;
}

#pink {
  background-color: pink;
}

#yellow {
  background: yellow;
}

#reset {
  background-color: whitesmoke;
}

#cyan {
  background-color: cyan;
}

.tileContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.row {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: fit-content;
}

.tile {
  background-color: whitesmoke;
  height: 50px;
  width: 50px;
  margin: 2px 2px;
  border-radius: 4px;
}

.tile:hover {
  border: 2px solid lightgrey;
  border-radius: 4px;
}
